# .coveragerc to control coverage.py
[run]
branch = True
source = unidown

[report]
exclude_lines =
    # Don't complain about missing debug-only code:
    if self.debug:
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    
    if __name__ == .__main__.:
    
ignore_errors = True

omit =
    tests/*
