[MASTER]

load-plugins=pylint.extensions.docparams,
             pylint.extensions.bad_builtin,
             pylint.extensions.mccabe

[MESSAGES CONTROL]

# W0105: String statement has no effect -> using docstrings
# I0011: locally disabling warning message -> annoying not needed warning, if you dont cheat with disabling warnings ;)
# E0611: no module in name -> too many false positive
disable=W0105,
    I0011,
    E0611,

[FORMAT]

max-line-length=120
indent-string='    '

[REPORTS]

reports=no
msg-template={path}:{line}: [{msg_id} {obj}] {msg} 
